img{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

h3{
    padding: 20px 0;
    text-decoration: underline;
}

table, thead{
    border-radius: 20px;
}

table, th, td {
    border: 1px solid white;
  }

th{
    background-color: darkgreen;
    color: white;
    text-align: center;
    height: 60px;
}  

th:hover{
    font-size: 20px;
    color: darkgray;
}

th:nth-child(1){
    width: 100px;
    border-radius: 20px 0px 0px 0px;
}  

th:nth-child(2),th:nth-child(3),th:nth-child(4),th:nth-child(5){
    width: 150px;
}  

th:nth-child(6){
    width: 200px;
  
    border-radius: 0px 20px 0px 0px;
}  


td:nth-child(1){
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(5){
    padding: 20px 0;
    padding-left: 20px;
}

button{
    margin: 0px 10px;
}

tr:nth-child(2n-1) {
    background-color: #D6EEEE;
}


